/* Aca esta Inicio*/
#inicio
{ background-color: #F8DFF3;
    color: #FF1D02;
    text-align: center;
    padding:0;
    position: relative;
    bottom: 0;
    width: 100%;

}

/* Aca esta el H1*/
h1 {
     font-family: 'Bungee Spice', sans-serif;
     font-family: 'Dancing Script', cursive;
     font-family: 'Ephesis', cursive;
     color: deeppink;
     font-size: 80px;
}

/* Aca esta el header, donde esta la imagen y descripcion de la tienda*/
header {
    background-color: #ffa8d9;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

/* Aca esta el logotipo de la tienda*/
.logotipo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: auto;
    top: 250;
    left: 250;
}

/* Aca esta todo lo que entra en el body osea la tienda entera*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ebe6ea; 
    }

/* Aca estan las secciones, cajas donde dentro estan las imagenes*/
section {
    text-align: center;
}

img {
cursor: pointer;
}

.imagen-barbie {
    margin: 0 auto;
}

/* Aca esta el menu*/
/* Estilos generales para pantallas grandes y medianas */
@media (min-width: 769px) {
        nav {
    background-color: #ff3385;
    padding: 10px;
    padding-top: 20px;
             }
      nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
              }
     nav li {
    margin: 0 15px;
              }
       nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
             }
      body {
        font-size: 16px; /* Tamaño de fuente para pantallas grandes */
        margin: 20px; /* Márgenes para pantallas grandes */
        padding: 10px; /* Padding para pantallas grandes */
            }
    #contacto {
        font-size: 16px; /* Tamaño de fuente para pantallas grandes */
    }

    .whatsapp,
    .facebook,
    .instagram {
        margin-right: 30px; /* Márgenes para iconos en pantallas grandes */
    }
}

/* Estilos específicos para pantallas medianas (tablets) */
@media (max-width: 768px) {
    nav {
        padding: 10px;
    }
     
    nav ul {
        flex-direction: column;
        align-items: center;
    } 
    nav li {
        margin: 10px 0;
    }
     body {
        font-size: 14px; /* Tamaño de fuente para pantallas medianas */
        margin: 15px; /* Márgenes para pantallas medianas */
        padding: 8px; /* Padding para pantallas medianas */
    }
    #contacto {
        font-size: 14px; /* Tamaño de fuente para pantallas medianas */
    }

    .whatsapp,
    .facebook,
    .instagram {
        margin-right: 20px; /* Ajuste de márgenes para iconos en pantallas medianas */
    }
}

/* Estilos específicos para pantallas pequeñas (móviles) */
@media (max-width: 576px) {
    nav {
        padding: 10px;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 10px 0;
    }
    body {
        font-size: 12px; /* Tamaño de fuente para pantallas pequeñas */
        margin: 10px; /* Márgenes para pantallas pequeñas */
        padding: 5px; /* Padding para pantallas pequeñas */
    }
    #contacto {
        font-size: 12px; /* Tamaño de fuente para pantallas pequeñas */
    }

    .whatsapp,
    .facebook,
    .instagram {
        margin-right: 10px; /* Ajuste de márgenes para iconos en pantallas pequeñas */
    }
    .dropdown:hover .dropdown-content {
        display: none;
    }

    .dropdown-content {
        display: none;
        position: static;
        background-color: #ff66b2;
        box-shadow: none;
    }
}

/* Estilos del menú desplegable */
nav .dropdown-content {
    display: none;
    position: relative;
    background-color: #ff66b2;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

nav .dropdown:hover .dropdown-content {
    display: block;
}

/* Estilo del contenedor de la imagen con la opción de compra */
.contenedor-imagen {
    position: relative;
    display: inline-block;
    margin: 10px; /* Ajusta el margen según sea necesario */
}

/* Estilo del contenedor de imagen con el texto "Comprar" superpuesto */
.imagen-con-compra {
    position: relative;
    display: inline-block;
}

/* Estilo del texto "Comprar" superpuesto */
.comprar-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7); /* Blanco medio transparente */
    padding: 10px;
    font-size: 18px;
    color: #000; /* Color del texto */
    display: none;
}

/* Mostrar el texto "Comprar" al pasar el ratón sobre la imagen */
.imagen-con-compra:hover .comprar-overlay {
    display: block;
}

/* Estilo del texto "Precio" superpuesto */
.precio-overlay {
    position: absolute;
    top: 60%; /* Ajusta la posición vertical según sea necesario */
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7); /* Blanco medio transparente */
    padding: 5px;
    font-size: 14px;
    color: #000; /* Color del texto */
    display: none;
}

/* Mostrar el texto "Precio" al pasar el ratón sobre la imagen */
.imagen-con-compra:hover .precio-overlay {
    display: block;
}

#contacto  {
    background-color: #ffa8d9;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;      

}

.whatsapp {
    display: inline-block;
    margin-right: 30px; 
}

.facebook {
    display: inline-block;
    margin-right: 30px; 
}

.instagram {
    display: inline-block;
    margin-right: 30px; 
}

#preguntasfrecuentes
    {
    color: #273a2d;
    }

#copyright {
    background-color: #ff3385;
    color: #fff;
    text-align: center;
    padding: 0.5em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}